body {
    background-color: #fa80722a;
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'Archivo Black', Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    color: #669;
}

